<html>
    <head>
          <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
          <link type="text/css" rel="stylesheet" href="/css/font-awesome.css"/>
          <script src="/js/jquery.js"></script>
          <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>

        <div class="container-fulid bg-danger">
            <div class="container">
                <div class="row ">
                    <div class="col-md-2 mt-2">
                        <p><b>ENGLISH</b></p>
                    </div>
                        <div class="col-md-6 mt-2 text-center">
                            <p><b>9999-8888-7777 | abcdefg@gmail.com</b></p>
                        </div>
                        <div class="col-md-3 offset-1 mt-2">
                           <i class="fa fa-instagram fa-2x" aria-hidden="true" ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>




    </body>
</html>