<%-include("header")%>
<%-include("header2")%>
<%-include("headermain")%>

<div class="container ">
<div class="jumbotron bg-dark" style="min-height: 600px;">
    <h1 class="display-4 text-center text-danger">2021</h1>
    <h1 class="text-center text-danger">Best Summer Collection</h1>
</div>
</div>
<%-include("footer")%>
